[submodule "test"]
	path = test
	url = https://github.com/MaaAssistantArknights/MaaTestSet.git
[submodule "src/MeoAsstMac"]
	path = src/MeoAsstMac
	url = https://github.com/MaaAssistantArknights/MeoAsstMac.git
