default_install_hook_types: [pre-commit, prepare-commit-msg]
autofix_prs: false
repos:
  - repo: https://github.com/shssoichiro/oxipng
    rev: v10.0.0
    hooks:
      - id: oxipng
        name: PNG Image Compression
        args: ["-q", "-o", "2", "-s", "--ng"]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        name: Clang-Format (MaaCore)
        files: ^src/MaaCore/.*
        args: ["--assume-filename", ".clang-format"]

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.7.4
    hooks:
      - id: prettier
        name: Prettier (Config Files)
        files: ^((\.github/ISSUE_TEMPLATE|resource|src|tools)/.*|\.pre-commit-config\.yaml|package-definition\.json)
        types_or:
          - yaml
          - json
      - id: prettier
        name: Prettier (Documentation)
        files: ^docs/.*

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-format
        name: Ruff format (Python)

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        name: MarkdownLint (Documentation)
        files: ^docs/.*|^README\.md$
        types:
          - markdown
        args: ["--fix", "--config", "docs/.markdownlint.yaml"]