# FUCK

**/node_modules/
**/pnpm-lock.yaml

MaaDeps/
3rdparty/
src/maa-cli
src/MaaMacGui

website/
# docs/

resource/Arknights-Tile-Pos/
tools/OptimizeTemplates/optimize_templates.json

CITATION.cff
CHANGELOG.md
