backcall==0.2.0
colorama==0.4.4
contourpy==1.0.7
cycler==0.11.0
decorator==5.0.9
ffmpeg==1.4
fonttools==4.38.0
importlib-resources==5.12.0
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
jedi==0.18.0
jupyter-client==6.1.12
jupyter-core==4.7.1
kiwisolver==1.4.4
matplotlib==3.7.1
matplotlib-inline==0.1.2
networkx==3.0
numpy==1.24.2
packaging==23.0
parso==0.8.2
pickleshare==0.7.5
Pillow==9.4.0
prompt-toolkit==3.0.18
pydot==1.4.2
Pygments==2.9.0
pyparsing==3.0.9
python-dateutil==2.8.1
pywin32==301
pyzmq==22.1.0
six==1.16.0
tornado==6.1
traitlets==5.0.5
urllib3==1.25.11
wcwidth==0.2.5
you-get==0.4.1536
zipp==3.15.0
