.home {
  .vp-hero-info-wrapper {
    min-height: 600px;
  }
}

.catalog-display-container {
  overflow-x: visible;
  overflow-y: auto;

  max-height: 75vh;
  margin: 0.5rem;
  border-radius: 0.5rem;

  overflow-wrap: break-word;
}
