@use "home.scss";
@use "fonts.scss";

/* 按钮组容器 */
.actions .action {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  padding: 0;
}

/* 按钮 */
.actions .action .vp-button {
  margin: 0.5rem;
  min-width: 12ch;
}

/* 首页标题 */
.is-home .name.clip {
  // font-style: italic;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
