$sidebar-width: 16rem;
$content-width: 1000px;

$font-family-mono: '"Sarasa Gothic", "Jetbrains mono", consolas';

html[lang="ja-JP"] {
  $font-family: "Helvetica Neue, Arial, Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif";
}
