# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.exp
.DS_Store
.atom/
.buildlog/
.history
.svn/
cmake-build-debug/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
*.so
build/
native/build/
libraries/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/
