name: gen-changelog

on:
  pull_request:
    types: [opened, reopened]
  workflow_dispatch:

jobs:
  gen:
    if: startsWith(github.event.pull_request.title, 'Release v') || startsWith(github.event.pull_request.title, 'release v')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Generate Changelog
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python3 tools/ChangelogGenerator/changelog_generator.py

      - name: Extract Tag Name
        id: extract_tag
        run: |
          tag_name=$(echo "${{ github.event.pull_request.title }}" | sed -E 's/(Release|release)//' | sed -e 's/^[[:space:]]*//' -e 's/[[:space:]]*$//')
          echo "tag_name=$tag_name" >> $GITHUB_OUTPUT
          
          pr_title="docs: Auto Update Changelogs of "$tag_name
          echo "pr_title=$pr_title" >> $GITHUB_OUTPUT

      - name: Add files to git
        run: |
          git status
          
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add .

          commit_msg="docs: Auto Generate Changelog of Release ""${{ steps.extract_tag.outputs.tag_name }}"
          git commit -m "$commit_msg"
          git switch -c changelog

      - name: Push changes # push the output folder to your repo
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force: true
          branch: changelog
          
      - name: Create changelogs PR
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: ${{ steps.extract_tag.outputs.pr_title }}
          base: 'dev'
          branch: 'changelog'
          delete-branch: true
