name: mirrorchyan

on:
  workflow_dispatch:

jobs:
  mirrorchyan:
    runs-on: macos-latest

    steps:
      - name: Upload MAA win x64
        uses: MirrorChyan/uploading-action@v1
        if: always()
        with:
          filetype: latest-release
          filename: "*MAA-*-win-x64.zip"
          mirrorchyan_rid: MAA

          github_token: ${{ secrets.GITHUB_TOKEN }}
          owner: ${{ github.repository_owner }}
          repo: ${{ github.event.repository.name }}
          upload_token: ${{ secrets.MirrorChyanUploadToken }}
          os: win
          arch: x64

      - name: Upload MAA win arm64
      - uses: MirrorChyan/uploading-action@v1
        if: always()
        with:
          filetype: latest-release
          filename: "*MAA-*-win-arm64.zip"
          mirrorchyan_rid: MAA

          github_token: ${{ secrets.GITHUB_TOKEN }}
          owner: ${{ github.repository_owner }}
          repo: ${{ github.event.repository.name }}
          upload_token: ${{ secrets.MirrorChyanUploadToken }}
          os: win
          arch: arm64

      - name: Upload MAA-macos universal
        uses: MirrorChyan/uploading-action@v1
        if: always()
        with:
          filetype: latest-release
          filename: "MAA-*-macos-universal.dmg"
          mirrorchyan_rid: MAA-macos

          github_token: ${{ secrets.GITHUB_TOKEN }}
          owner: ${{ github.repository_owner }}
          repo: ${{ github.event.repository.name }}
          upload_token: ${{ secrets.MirrorChyanUploadToken }}
